<app-search-navigation (searchInput)="getSearchDataFromService($event)"></app-search-navigation>
<div class="container">
  <div *ngIf="characterInfo?.length">
    <div class="flex-row row" id="herocard">
        <div *ngFor="let character of characterInfo" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
              <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" height="350" width="200"/>
              <div class="caption">
              <h3>{{character.name}}</h3>
              </div><!-- /.caption -->
            </div><!-- /.thumbnail -->
          </div>
    </div>
  </div>
  <div *ngIf="!characterInfo?.length">
      <h2>No results.</h2>
  </div>
</div>

